@model RecipeWebsiteMVC.Models.Recipe

@{
    ViewData["Title"] = "Recept detaljer";
}

<h1>Detaljer</h1>


    <h4>Recept</h4>
                
    <button class="Open-button" id="@Model.Id" href="#">
        
        <h3 class="text-right">View</h3> 
        
    </button>


    <hr />
    <div>    
    <dl class="row">
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Portions)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Portions)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.EditedAt)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EditedAt)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DateOfCreation)
        </dd>


          <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class = "col-sm-10">
            <ul>
                    @foreach (var item in Model.Ingredients)
                    {
                        <li>
                            <!--Render The view Async :) Det trevliga med Tag Helpers vs Html. -->
                            <partial name ="~/Views/Shared/_IngridientDetails.cshtml" model="@item" />
                        </li>
                    }
             </ul>

        </dd>

        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Directions)
        </dt>
        <dd class = "col-sm-10">
            <ul>
                    @foreach (var item in Model.Directions)
                    {
                        <li>
                            <partial name ="~/Views/Shared/_DirectionDetails.cshtml" model="@item" />
                        </li>
                    }
             </ul>

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<dialog class="partialViewModal" id="partialViewModal">

    <button type="button" class="close-icon" aria-label="Close">
    </button>

    <partial name="~/Views/Home/Details.cshtml" model="@Model" />
    <button type="button" id="close-button" class="btn btn-dark">Close</button>
</dialog>

@*
     <div id="partialModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@





@section Scripts {
    

  <script type="text/javascript">
        //$(function () {
        //    $(".Details").click(function () {
        //        var Id = $(this).attr("id");
        //        console.log(Id);
        //        $.ajax({
        //            type: "GET",
        //            url: "/Home/Details",
        //            data: { "id": Id },
        //            success: function (response) {
        //                $("#partialModal").find(".modal-body").html(response);
        //                $("#partialModal").modal('show');
        //            },
        //            failure: function (response) {
        //                alert(response.responseText);
        //            },
        //            error: function (response) {
        //                alert(response.responseText);
        //            }
        //        });
        //    });
        //});
        const modal = document.querySelector("#partialViewModal");
        const openModal = document.querySelector(".Open-button");
        const closeModal = document.querySelector("#close-button");
        const closeModal2 = document.querySelector(".close-icon");
                                console.log(closeModal);
                                 console.log(closeModal2);

        openModal.addEventListener("click", () =>{
            modal.showModal();
        });

        closeModal.addEventListener("click", () =>{
            console.log("Close");
            modal.close();
        });

        closeModal2.addEventListener("click", () =>{
                        console.log("Close");

            modal.close();
        });
    </script>

}