@model RecipeWebsiteMVC.Models.Recipe

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Portions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Portions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>


          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class = "col-sm-10">
            <ul>
                @foreach (var item in Model.Ingredients)
                {
                    <li>
                        <partial name ="_IngridientsDetails" model="@item" />
                    </li>
                }
             </ul>
           
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Directions)
        </dt>
        <dd class = "col-sm-10">
            <ul>
                @foreach (var item in Model.Directions)
                {
                    <li>
                        <partial name ="_DirectionDetails" model="@item" />
                    </li>
                }
             </ul>
           
        </dd>
    </dl>
</div>

