@model RecipeWebsiteMVC.Models.Recipe
@{
    ViewData["Title"] = $"{@ViewBag.CreateEdit} Recept";
}
<!--Till för Java Skripten ;)-->
<input type="hidden" id="IngridientCount" value="@Model.Ingredients.Count"> 
<input type="hidden" id="DirectionCount" value="@Model.Directions.Count">


<h1>@ViewBag.CreateEdit</h1>
<h4>Recept</h4>
<hr />
<div asp-validation-summary="All"></div>
<div class="row">
    <form method="post" asp-action="@ViewBag.CreateEdit" enctype="multipart/form-data"> <!--Allow File Uploads like an Image-->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

     <div>
            <a asp-action="Index" class="btn btn-outline-primary mr-2">Back to List</a>

           <input type="submit" value="@ViewBag.CreateEdit" class="btn btn-outline-success" />
    </div>
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-6">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                   
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" rows="3" class="form-control"></textarea> 
                  

                      <label asp-for="Category"></label>
			            <select asp-for="Category" asp-items="@ViewBag.SelectCategory" class="form-select">
				        <option disabled selected>--Select Category--</option>
			            </select>
                     >

                        <label asp-for="Portions" class="control-label"></label>
                        <input asp-for="Portions" class="form-control" />
                        <span asp-validation-for="Portions" class="text-danger"></span>
                        <label asp-for="Image" class="control-label"></label>
                        <input type="file" name="file"  class="form-control" />
                    
              
                    
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mt-1">

                    <p class="control-label">Ingredienser</p>
                    @for (var i = 0; i < Model.Ingredients.Count; i++)
                    {
                     <div class="form-group d-flex align-items-end mt-1">
                        <input asp-for="@Model.Ingredients[i].Unit" type="number" step="any"  class="form-control" />

                        <input asp-for="@Model.Ingredients[i].UnitType" class="form-control" placeholder="Enhet" />

                        <input asp-for="@Model.Ingredients[i].Name" class="form-control" placeholder="Namn" />

                        <input asp-for="@Model.Ingredients[i].Id" type="hidden" /> <!--Viktigt För Edit-->

                        <input asp-for="@Model.Ingredients[i].DisplayOrder" type="hidden">
                        <!--
                        <input type="button" value="Ta bort" class="btn btn-outline-danger mt-1" onclick="RemoveFields(this)" />
                        -->
                    </div>
                    }
                 <span id="input_fields_ingridients"> </span>

                        <input type="button"
                               value="Lägg till ingridiens"
                               id="NewIngridient" 
                               class="btn btn-outline-success mt-1"/> 
                 

                 </div>
                 <!--Enkel snabb style-->
                <div class="col-lg-8 col-md-12 col-sm-12 mt-1">
                    <p class="control-label">Instruktioner</p>

                    @for (var i = 0; i < Model.Directions.Count; i++)
                    {
                        <div class="form-group d-flex align-items-end mt-1"> 
                            <textarea asp-for="Directions[i].Text" rows="2" class="form-control" placeholder="Instruktion"></textarea>
                            <input asp-for="Directions[i].Id" type="hidden" />
                            <input asp-for="Directions[i].DisplayOrder" type="hidden">
                            <!--
                                <input type="button" value="Ta bort" class="btn btn-outline-danger float-right" onclick="RemoveFieldsDir(this)" />
                            -->
                        </div>
                    }
                    
                        
                   
                    <span id="NewFieldOutPut" class="col-lg-8 col-md-12 col-sm-12 mt-1" ></span>
                    <input type="button" id="NewDirection" value="Lägg till instruktion" class="btn btn-outline-success mt-1"/> 

                </div>
           </div>
             
        </div>
       
    </form>
</div>


<script src="~/js/NewIngrdientsField.js"></script>
<script src="~/js/NewInstruktionField.js"></script>

<!--Client side validation-->

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
