@using RecipeWebsiteMVC.Models.UserRoles
@model IEnumerable<RecipeWebsiteMVC.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<partial name="_notification" />
<div class="row pt-4">
    <div class="col-6">
        <h2 class="text-primary">Alla recept</h2>
    </div>
<div class="col-6 text-end">
    <a asp-action="Create" class="btn btn-warning"><i class="bi bi-plus-square"></i> Create New</a>
</div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-info">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark"> <i class="bi bi-pencil-square"></i> Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"> <i class="bi bi-list-stars"></i> Details</a> 

                @if(User.IsInRole(UR.Role_Admin))
                {
                  <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"> <i class="bi bi-trash"></i>  Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
